@{
    ViewData["Title"] = "Forgot password";
}
<div class="pagebuffer"></div>
<div class="form-group">
    <h1 class="text-center">Oops!</h1>
    <p>Forgot your password? We'll send you an email to reset it. Use the email that you registered your account with.</p>
    <input type="email" placeholder="Your email..." />
    <input type="submit" onclick="Sent()" />
</div>

<script>
    function Sent() {
        alert("Email Sent!")
    }
</script>