@{
    ViewData["Title"] = "The Pag";
    Layout = "_Layout";
}
<div class="pagebuffer"></div>
<h1 class="hometitle">Where would you like to go?</h1>
<div class="pagebuffer"></div>
<h1 class="hometitle">Movies</h1>

<div class="moviegallery align-content-center">
    <section id="gallery">
        <div class="homegrid" style="background-image:
                    url(https://images.pexels.com/photos/2375034/pexels-photo-2375034.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
                        background-size: cover; background-repeat: no-repeat;">
            <a class="nounderline" href="~/Catalogue/Catalogue/movies/drama/name/desc"><h1 class="text-center hometiletext">Drama</h1></a>
        </div>
        <div class="homegrid" style="background-image:
                    url(https://images.pexels.com/photos/1498338/pexels-photo-1498338.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
                        background-size: cover; background-repeat: no-repeat;">
            <a class="nounderline" href="~/Catalogue/Catalogue/movies/comedy/name/desc"><h1 class="text-center hometiletext">Comedy</h1></a>
        </div>
        <div class="homegrid" style="background-image:
                    url(https://images.pexels.com/photos/923681/pexels-photo-923681.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
                        background-size: cover; background-repeat: no-repeat;">
            <a class="nounderline" href="~/Catalogue/Catalogue/movies/crime/name/desc"><h1 class="text-center hometiletext">Crime</h1></a>
        </div>
    </section>
</div>
<div class="text-center"><a class="editbutton btn btn-primary" href="~/Catalogue/Catalogue/movies/drama/name/desc">View all movies here</a></div>
 <div class="pagebuffer"></div>
<h1 class="hometitle">Games</h1>

<div class="gamegallery">
    <section id="gallery">
        <div class="homegrid" style="background-image:
                    url(https://fantasyanime.com/squaresoft/images/ctwallpaper_47-1600x900.jpg);">
            <a class="nounderline"  href="~/Catalogue/Catalogue/games/rpg/name/desc"><h1 class="text-center hometiletext">RPG</h1></a>
        </div>
        <div class="homegrid" style="background-image:
                    url(https://i.pinimg.com/originals/f7/4c/e6/f74ce6007b53858d32503641f6dd88ba.jpg);">
            <a class="nounderline" href="~/Catalogue/Catalogue/games/survival/name/desc"><h1 class="text-center hometiletext">Survival</h1></a>
        </div>
        <div class="homegrid" style="background-image:
                    url(https://www.tonyhawkthegame.com/content/dam/atvi/tony-hawk/alcatraz/pages/home/gallery/images/Tony-Hawk-ProSkater_RHawk.jpg);">
            <a class="nounderline" href="~/Catalogue/Catalogue/games/sports/name/desc"><h1 class="text-center hometiletext">Sports</h1></a>
        </div>
    </section>
</div>
<div class="text-center"><a class="editbutton btn btn-primary" href="~/Catalogue/Catalogue/games/rpg/name/desc">View all games here</a></div>
<div class="pagebuffer"></div>
<h1 class="hometitle">Books</h1>

<div class="bookgallery">
    <section id="gallery">
        <div class="homegrid" style="background-image:
                    url(https://images.pexels.com/photos/159778/books-reading-series-narnia-159778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
                        background-size: cover; background-repeat: no-repeat;">
            <a class="nounderline"  href="~/Catalogue/Catalogue/books/fiction/name/desc"><h1 class="text-center hometiletext">Fiction</h1></a>
        </div>
        <div class="homegrid" style="background-image:
                    url(https://images.pexels.com/photos/906055/pexels-photo-906055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
                        background-size: cover; background-repeat: no-repeat;">
            <a class="nounderline" href="~/Catalogue/Catalogue/books/mystery/name/desc"><h1 class="text-center hometiletext">Mystery</h1></a>
        </div>
        <div class="homegrid" 
            style="background-image: 
                    url(https://images.pexels.com/photos/4440716/pexels-photo-4440716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); 
                        background-size: cover; background-repeat: no-repeat;">
            <a class="nounderline" href="~/Catalogue/Catalogue/books/romance/name/desc"><h1 class="text-center hometiletext">Romance</h1></a>
        </div>
    </section>
</div>
<div class="text-center"><a class="editbutton btn btn-primary" href="~/Catalogue/Catalogue/books/fiction/name/desc">View all books here</a></div>