@{
    ViewData["Title"] = "Your Cart";
}

<!--Reference: https://bootdey.com/snippets/view/shop-cart#html using bootstrap.-->
<div class="container padding-bottom-3x mb-1">
    <!-- Shopping Cart-->
    <div class="table-responsive shopping-cart">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Subtotal</th>
                    <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear Cart</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-item">
                            <div class="product-info">
                                <h4 class="product-title"><a href="#">ITEM</a></h4>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="count-input">
                                <input id="form1" min="1" name="quantity" value="1" type="number"
                                       class="form-control form-control-sm pull-right" style="width: 50px;" />
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium">$PRICE</td>
                    <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer">
        <div class="column text-lg">TOTAL: <span class="text-medium">$TOTAL</span></div>
    </div>
    <div class="shopping-cart-footer">
        <div class="column"><a class="btn btn-outline-secondary" href="~/Catalogue/Catalogue"><i class="icon-arrow-left"></i>&nbsp;Back to Shopping</a></div>
        <div class="column"><a class="btn btn-primary" href="#" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Your cart" data-toast-message="is updated successfully!">Update Cart</a><a class="btn btn-success" href="#">Checkout</a></div>
    </div>
</div>