@{
    ViewData["Title"] = "Catalogue";

    <div>
        <h1>Catalogue</h1>
        <table class="table cataloguetable">
            <thead>
                <tr>
                    <!-- Table headers -->
                    <th>Name</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Published</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product item in ViewBag.prodlist)  // Builds table from database, checks for nulls/empty data
                {
                    <tr>
                        <td>@(item.Name ?? "Unknown")</td>
                        <td>@(item.Author ?? "Unknown")</td>
                        @if (item.Genre == 1) // Converts genre data into readable text
                        {
                            <td>Book</td>
                        }
                        else if (item.Genre == 2)
                        {
                            <td>Movie</td>
                        }
                        else if (item.Genre == 3)
                        {
                            <td>Game</td>
                        }
                        else
                        {
                            <td>Unknown</td>
                        }
                        <td>@(item.Published.HasValue ? item.Published.Value.ToString("yyyy") : "Unknown")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}