@{
    ViewData["Title"] = "Catalogue";
}
    <div>
        <h1>Catalogue</h1>

        <div class="cataloguenav">
            <a href="~/Catalogue/Catalogue/movies/drama/name/desc">Movies</a>
            <a href="~/Catalogue/Catalogue/books/fiction/name/desc">Books</a>
            <a href="~/Catalogue/Catalogue/games/rpg/name/desc">Games</a>
        </div>


        <div>
        <form>
        <!-- Render form dynamically containing genres specific to their product type -->
        </form>
        </div>
        <table class = "table cataloguetable">
            <thead class = "tableheader">
                <tr>
                    <!-- Table headers -->
                    <th>Name</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Published</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.prodlist != null) // checks if prodlist is null
                {
                    @foreach (Product item in ViewBag.prodlist)  // Builds table from database, checks for nulls/empty data
                    {
                        <tr>
                            <td>@(item.Name ?? "Unknown")</td>
                            <td>@(item.Author ?? "Unknown")</td>
                            @if (item.Genre == 1) // Converts genre data into readable text
                            {
                                <td>Book</td>
                            }
                            else if (item.Genre == 2)
                            {
                                <td>Movie</td>
                            }
                            else if (item.Genre == 3)
                            {
                                <td>Game</td>
                            }
                            else
                            {
                                <td>Unknown</td>
                            }
                            <td>@(item.Published.HasValue ? item.Published.Value.ToString("yyyy") : "Unknown")</td>
                            <td><a class="btn btn-primary" href="~/Catalogue/Item/@(item.Id)">View Item</a></td>
                        </tr>
                    }
                } 
                else
                {
                <h1>Catalogue Error</h1>  
                
                }
            </tbody>
        </table>
    </div>
