@{
    ViewData["Title"] = "Item";
}

<div class="itemform">
    @if (ViewBag.item != null && ViewBag.item.Count > 0)
    {
        var item = ViewBag.item[0];
        <h1 class="itemtitle title">@item.Name</h1>
        <br />
        <h2 class="itemprice">$@ViewBag.stocktake.Price</h2>
        <br />
        <h3 class="itemqty">x @ViewBag.stocktake.Quantity</h3>
        <br />
        <h1 class="title">Description:</h1>
        <p class="itemdesc">@item.Description</p>
        <p class="itempublished">Publish Date: @item.Published.ToString("dd-MM-yyyy")</p>


        <button class="custombutton">ADD TO CART</button>
    }
    else
    {
        <p>Item not found</p>
    }
    <div class="d-flex flex-md-row-reverse" id="AdminOnly">
        <!--Admin only Button for session state-->
        <a href="~/Admin/Edit_Item" class="btn btn-primary editbutton">Edit Item Details</a>
    </div>
</div>
