@{
    ViewData["Title"] = "Account";
}

<div class="accountheader">
    <h1 class="title">Your account</h1>
    <btn class="btn btn-primary viewordersbutton">View Orders</btn>
</div> 

<hr />

<form class="accountform"> 
    <div class="accountinfo">
        <p>name</p>
        <p>email address</p>
    </div>
    <div class="d-flex flex-md-row-reverse">
        <button type="submit" class="btn btn-primary editbutton">Edit</button>
    </div>
</form>
