@{
    ViewData["Title"] = "Account";
}

<div class="accountheader">
    <h1 class="title">Your account</h1>
    <btn onclick="window.location.href='Order_History'" class="btn btn-primary viewordersbutton">View Orders</btn>
</div> 

<hr />

<form class="accountform"> 
    <div class="accountinfo">
        <p>name</p>
        <p>email address</p>
    </div>
    <div class="d-flex flex-md-row-reverse">
        <a class="btn btn-primary editbutton" href="~/Admin/Edit_User" role="button">Edit</a>
    </div>
</form>
