@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login page</h1>
    @using (Html.BeginForm("Login_Action", "User", FormMethod.Post))
    {
        <!-- Bootstrap login form -->
        <div class="form loginform justify-content-center">
            <div class="form-group">
                <input type="text" id="username" name="username" class="form-control userinput" placeholder="Username" value="jane.l.j.citizen@somemail.com" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control userinput" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    }
    <a id="" class="loginlink" href="~/Home/Forgot_Password">Forgot Password?</a> <!-- Temporary -->
    <a id="" class="loginlink" href="~/User/Account_Create">Sign Up</a>
</div>
