@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login page</h1>
    <form class="loginform accountform"> <!-- Bootstrap login form -->
        <div class="form loginform justify-content-center">
            <div class="form-group">
                <input type="text" class="form-control userinput" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control userinput" placeholder="Password">
            </div>
        </div>
        <a id="" class="loginlink" href="#">Forgot Password?</a> <!-- Temporary -->
        <a id="" class="loginlink" href="~/User/Account_Create">Sign Up</a>
    </form>
</div>
