@{
    ViewData["Title"] = "Order Details";
}

<div class="accountheader">
    <h1 class="title">Username</h1> <!--Needs session state current user-->
</div>

<div class="d-flex">
    <a href="~/User/Order_History" class="btn btn-primary backbutton">Back</a>
</div>

<hr />

<form class="accountform">
    <div class="accountinfo">
       <div class="row">
        <div class="column ordercolumn">
        <p>Item Ordered</p>
        <p>Email</p>
        <p>Address</p>
        <p>Postcode</p>
        </div>
        <div class="column ordercolumn">
        <p>Suburb</p>
        <p>State</p>
        <p>Phone Number</p>
        </div>
       </div>
    </div>
    <div class="d-flex flex-md-row-reverse">
        <a href="~/User/Update_Order_Details" class="btn btn-primary editbutton">Edit</a>
    </div>
</form>
