@{
    ViewData["Title"] = "Order History";
}

<form class="accountform">
    <div class="d-flex">
        <button type="submit" class="btn btn-primary backbutton">Back</button>
    </div>
    <div class="orderhistory">
        <h1>Order History</h1>
        <table class="table orderstable">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Address</th>
                    <th>Postcode</th>
                    <th>Suburb</th>
                    <th>State</th>
                </tr>
            </thead>
        </table>
    </div>
    
</form>
