@{
    ViewData["Title"] = "Order History";
}

<form class="accountform">
    <div class="d-flex">
        <a href="~/User/Account" class="btn btn-primary backbutton">Back</a>
    </div>
    <div class="orderhistory">
        <h1>Order History</h1>
        <table class="table orderstable">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Customer</th>
                    <th>Suburb</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order detail in ViewBag.orders)
                {
                <tr>
                    <td>@detail.OrderId</td>
                    <td>@detail.Customer</td>
                    <td>@detail.Suburb</td>
                    <th><a href="~/User/Order_Details/@detail.OrderId" class="btn btn-primary">View Details</a></th>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>
