@{
    ViewData["Title"] = "Add_Patron";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="accountheader">
    <h1 class="title">Your account</h1>
</div>

<hr />

@using (Html.BeginForm("Add_Patron_Action", "Admin", FormMethod.Post))
{
    <div class="accountinfo">
        <div class="row">
            <div class="column ordercolumn">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control userinput" type="email" name="email" id="email" placeholder="Email">
                    <label for="name">Name:</label>
                    <input class="form-control userinput" type="text" name="name" id="name" placeholder="Name">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-md-row-reverse">
        <button class="btn btn-primary editbutton" id="Save" type="submit">Save</button>
        <button class="btn btn-primary cancelbutton" onclick="history.back()">Cancel</button>
    </div>
}

<script>
    // Clientside validation
    $(document).ready(function () {
        $("#Save").click(function () {
            var inputname;
            inputname = $("#name").val();

            if (inputname == '') {
                alert("Please input a name");
                return false;
            }

            if (inputname.length > 40) {
                alert("Name can only be up to 40 characters");
                return false;
            }


            const response = confirm("Confirm changes?")

            if (response == false) {
                return false;
            }
        });
    });
</script>