@{
    ViewData["Title"] = "Edit Item";
}

<div class="accountheader">

</div>
<hr />
<form class="accountform">
    <div class="form-group">
        <label>Item name:</label>
        <input class="form-control userinput" type = "text"/>
    </div>
    <div class="form-group">
        <label></label>
        <input class="form-control userinput" type = "text" />
    </div>
    <div class="form-group">
        <label></label>
        <input class="form-control userinput" type = "text" />
    </div>
    <div class="form-group">
        <label></label>
        <input class="form-control userinput"type = "text" />
    </div>
    <div class="form-group">
        <label></label>
        <input class="form-control userinput" type = "text" />
    </div>
    <div class="form-group">
        <label></label>
        <input class="form-control userinput" type = "text" />
    </div>
    <div class="form-group">
        <label></label>
        <input class="form-control userinput" type="text" />
    </div>
    <div class="d-flex flex-md-row-reverse">
        <button type="submit" class="btn btn-primary editbutton">Edit</button>
    </div>
</form>
