@{
    ViewData["Title"] = "Patron Management";
}


<h1>All current users:</h1>
<a class="btn btn-primary addbutton" href="~/Admin/Add_Patron">+ Add Patron</a>
<table class="table usertable">
    <thead>
        <tr class="tableheader">
            <!-- Table headers -->
            <th>User ID</th>
            <th>Email</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table">
        @foreach (Patron detail in ViewBag.userList)  // Builds table from database
        {
            <tr>
                <td>@(detail.UserId)</td>
                <td>@(detail.Email ?? "NULL")</td>
                <td>@(detail.Name)</td>
                <td><a class="btn btn-primary" href="~/Admin/Edit_Patron/@(detail.UserId)">Edit</a></td>
                <td><a class="delbtn btn btn-primary" href="~/Admin/Delete_Patron/@(detail.UserId)">Delete</a></td>
                
            </tr>
        }
    </tbody>
</table>